body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-bottom: 20vh; 
    box-sizing: border-box; 
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 50px; 
}

h1 {
    color: #e44d26;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

p {
    color: #777777;
    font-size: 1.4em;
    margin-bottom: 30px;
}

a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    background-color: #2980b9;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    transition: background-color 0.3s;
    font-size: 1.2em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

a:hover {
    background-color: #3498db;
}

a img {
    margin-right: 10px;
    width: 30px;
}

.bubbles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}



.bubble {
    
    animation: float 12s infinite, drift 6s linear infinite; 


@keyframes float {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-10vh);
        opacity: 0;
    }
}


@keyframes drift {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(100vw - var(--size)));
    }
}



}



@media (max-width: 768px) {
    .container {
        padding: 30px;
    }
    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1.2em;
    }
    a {
        padding: 12px 24px;
    }
        @keyframes float {
        0% {
            transform: translateY(0);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: translateY(-80vh);
            opacity: 0;
        }
    }

    @keyframes drift {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(100vw - var(--size)));
        }
    }
    

}